body
	box-sizing: border-box
	margin: 0
	padding: 0
	// background: url('../images/ipad+iphone.jpg') no-repeat center
	background: url('../images/macbook.jpg') no-repeat
	background-size: cover
	height: 100vh

.mega-wrapper
	margin: 0
	padding: 0
	padding-top: 10vh
	width: 100%
	overflow: hidden
	display: flex
	flex-direction: column
	justify-content: center
	align-content: center
	align-items: center

@media (max-width: 600px)
	.mega-wrapper
		padding-top: 0
.wrapper
	max-width: 1024px
	margin: 0
	padding: 16px
	background: rgba(0,0,0,.64)
	border-radius: 8px
.page-title
	color: white

.hero-image
	// background: rgba(0,0,0,.13)
	color: rgba(255,255,255,.87)

.hero-text
	margin-bottom: 32px

#email-container
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	// color: white

#emailHelp
	color: white
.jumbotron
	background: rgba(0,0,0,.22)
	color: white

.logo
	margin-bottom: 32px

.left-col
	border-right: 1px solid rgba(255,255,255,.54)

.form-holder
	form
		display: flex
		justify-content: center

.question
	margin-bottom: 32px

.hero-text
	padding-left: 20px
