doctype html
html
  head
    script(defer='', src='js/lib/material.min.js')
    script(src="js/countdowntimer.js")
    script(src="//code.jquery.com/jquery-1.12.4.js")
    script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel='shortcut icon', type='image/png', href='images/pomo.png')
    link(href='css/roboto.css', rel='stylesheet')
    link(href='css/maticons.css', rel='stylesheet')
    link(rel='stylesheet', href='css/material.css')
    link(rel='apple-touch-icon', href='images/pomo.png')
    link(rel='manifest', href='manifest.json')
    link(rel='stylesheet', type='text/css', href='css/style.css')
    title#title Pomo
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='white')
    meta(name='apple-mobile-web-app-title', content='Pomo')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  
  body
    header
      h3.app-title Pomo
    .mdl-layout
      block main